.contact {
  margin-top: 75px;
  @include media-breakpoint-down(md) {
    margin-top: 75px;
  }
  @include media-breakpoint-down(xs) {
    margin-top: 68px;
  }

  .contact-form {
    padding: 5rem 0;

    @include media-breakpoint-down(md) {
      padding: 3rem 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 3rem 0;
    }

    .letter-form {
      padding: 2rem;
      background-image: url('/assets/contact/letter-background.png');
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
      background-color: #e9e2d9;
      border-radius: 20px;

      h3 {
        padding-top: 1rem;
        margin-bottom: 2rem;
        font-weight: 400;
      }

      button.btn-submit {
        border: 0.75px solid #ffffff;
        border-radius: 20px;
        box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.5);
      }

      p {
        margin-bottom: 2rem;
      }

      @include media-breakpoint-down(md) {
        margin: 0 3rem;
      }

      @include media-breakpoint-down(sm) {
        margin: 0;
      }
    }

    .form-image-content {
      justify-content: center;

      img {
        width: 320px;
      }
    }
  }

  .submit-container {
    text-align: center;

    img {
      max-width: 1000px;
    }
  }
  .error {
    margin-bottom: initial;
    color: #d9534f;
  }
}
