.cta {
  height: 344px;

  @include media-breakpoint-down(sm) {
    height: 780px;
  }

  .row {
    height: 100%;
    background: #008092;
  }

  .cta-image {
    background-image: url('/assets/svg/cta-graphic-vision.svg');
    background-size: 480px 262px;
    background-position: top;
    background-repeat: no-repeat;

    @include media-breakpoint-down(sm) {
      background-image: url('/assets/svg/cta-graphic-vision-mobile.svg');
      background-size: 480px 450px;
      background-position: top center;
      height: 450px;
      margin-top: 0;
    }
  }

  .cta-text {
    @include media-breakpoint-down(sm) {
      margin-bottom: 5rem;
    }
  }

  h2 {
    color: white;
    font-size: 22px;
    margin: 0 0 20px 0;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }

  p {
    color: $white;
    font-size: 38px;
    margin: 1rem 0;

    @include media-breakpoint-down(sm) {
      font-size: 55px;
      line-height: 60px;
      margin: 2rem 0;
    }
  }

  button {
    background-color: #ec9b41;
    border: solid 0.8px white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.5);
    color: $gray-dark;
    font-family: Roboto;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.3px;
    height: auto;
    line-height: 1.82;
    padding: 0.5rem 1rem;
    text-align: center;
    width: auto;
  }
}
