// cta
.cta {
  background: linear-gradient(-160deg, #f99a2a 0%, #f9902a 100%);
  padding: 5rem 0;

  .cta-container {
    line-height: 2.5rem;
  }

  h3 {
    font-size: 2rem;
    margin: 0;
    @include media-breakpoint-down(sm) {
      font-size: 1.75rem;
      margin: 0 auto 2rem;
    }
  }
}
