.fa-check {
  display: none;
}

.valid {
  position: relative;

  label {
    color: $green;
    font-weight: 600;
  }

  input {
    border: $green 1px solid;
  }

  .fa-check {
    position: absolute;
    bottom: 7px;
    right: 5px;
    transform: translate(-50%, -50%);
    color: $green;
    display: block;
  }
}
