.blog-container {
  margin-top: 70px;
}

.blog-filters {
  .blog-filters-header {
    display: flex;
    flex-direction: row;

    .blog-filters-title {
      text-align: center;
      width: 26%;
    }
    .blog-filters-divider {
      width: 37%;
      .line-break {
        height: 50%;
        border-bottom: 1px solid $gray-800;
      }
      .spacer {
        height: 50%;
      }
    }
  }

  .blog-filters-nav {
    background-color: unset;
    .blog-filters-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;
      padding: 0;

      .blog-filter-item {
        padding: 7px;
      }

      .blog-filter-item .active {
        padding: 7px;
        color: orange;
        text-decoration: underline;
      }
    }
  }
}

.blog-search {
  display: flex;
  justify-content: center;

  .blog-search-group {
    width: 40%;
  }

  .blog-search-input {
    width: 100%;
    padding: 4px 4px 4px calc(2.4rem + 2px);
  }

  .blog-search-icon {
    position: absolute;
    z-index: 2;
    display: block;
    margin-top: 3px;
    width: 2rem;
    height: 2rem;
    line-height: 2.4rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
}

.blog-posts {
  padding: 5% 10% 0 10%;

  .blog-posts-message {
    min-height: 80vh;
  }

  .blog-card-wrapper {
    min-height: 300px;
    margin-bottom: 20px;
  }

  .blog-card-wrapper-last {
    min-height: 300px;
    margin-bottom: 0;
  }
}

.blog-pagination {
  .blog-page-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;

    .blog-page-item {
      padding: 7px;
    }

    .blog-page-item .active {
      padding: 7px;
      color: orange;
    }
  }
}
