.blog-post-page {
  margin-top: 70px;
  font-family: 'Muli';

  .blog-post-content {
    padding: 4%;

    h3 {
      font-size: 15px;
      text-decoration: underline;
      padding: 0 6rem;

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }
  }

  .blog-next-posts-header {
    display: flex;
    flex-direction: row;

    .blog-next-posts-title {
      text-align: center;
      width: 26%;
      font-size: 25px;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
    .blog-next-posts-divider {
      width: 37%;
      .line-break {
        height: 50%;
        border-bottom: 1px solid $gray-800;
      }
      .spacer {
        height: 50%;
      }
    }
  }

  .next-posts {
    padding: 5% 10% 0 10%;

    .blog-posts-message {
      min-height: 80vh;
    }

    .blog-card-wrapper {
      min-height: 300px;
      margin-bottom: 20px;
    }
  }

  .loading {
    text-align: center;
    svg {
      height: 75px;
      font-size: 40px;
      color: #9baaab;
    }
  }

  .back-link {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0 6rem;

    @include media-breakpoint-down(md) {
      padding: 0;
    }

    svg {
      margin-right: 5px;
    }

    &.align-left {
      justify-content: left;
    }

    a {
      text-decoration: underline;
    }
  }

  .top-buttons-container {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      padding: 0 1rem;
    }
  }

  button {
    background: #fff;
    border: 1px solid #c75300;
    padding: 4px 15px;

    span {
      font-size: 14px;
      text-transform: capitalize;
      color: $gray-dark;
      font-weight: bold;

      i {
        color: #000;
      }
    }
  }
}
