.blog-featured {
  padding: 5%;

  .blog-featured-author {
    display: flex;
    flex-direction: row;
    align-items: center;

    .profile-image {
      height: 75px;
      width: 75px;
      object-fit: cover;
      margin-right: 15px;
      border-radius: 50%;
    }
  }

  .blog-featured-summary {
    margin-top: 25px;
  }

  .blog-featured-date {
    margin-bottom: 25px;
  }

  .blog-featured-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
