.blog-featured {
  padding: 5%;

  .blog-featured-author {
    display: flex;
    flex-direction: row;
    align-items: center;

    .profile-image {
      height: 75px;
      width: 75px;
      margin-right: 15px;
      border-radius: 40px;
    }
  }

  .blog-featured-image-wrapper {
    align-self: center;
  }

  .blog-featured-image {
    border-radius: 300px;
    border-collapse: separate;
    display: inline-block;
  }
}
