.juntoscope {
  // hero
  .hero {
    background-image: url('/assets/bg-hero-icons.jpg');
    background-position: top center;
    background-size: cover;
    height: 100vh;
    @include media-breakpoint-down(md) {
      background-image: url('/assets/bg-hero-icons-md.jpg');
    }
    @include media-breakpoint-down(sm) {
      background-image: url('/assets/bg-hero-icons-sm.jpg');
    }

    .container,
    .row {
      height: 100%;
    }

    .row {
      padding-top: 56px;
    }

    h2 {
      color: $white;
      font-size: 4rem;
      margin-bottom: 1rem;
      @include media-breakpoint-down(lg) {
        font-size: 2.5rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2rem;
      }
    }

    p {
      color: $white;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 3rem;
      max-width: 500px;
      @include media-breakpoint-down(sm) {
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
