.case-study {
  // hero
  .hero {
    background-image: url('/assets/case-study-background-header.png');
    background-position: top center;
    height: 100vh;

    .container,
    .row {
      height: 100%;
    }

    h2 {
      color: $orange-light;
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 1rem;
      text-align: center;
    }

    p {
      color: $white;
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 3rem;
      max-width: 700px;
      text-align: center;
      line-height: 5rem;

      @include media-breakpoint-down(lg) {
        font-size: 3rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
        line-height: 3rem;
        margin: 0 1rem;
      }
    }
  }

  section {
    padding: 50px;
    margin-bottom: 50px;

    @include media-breakpoint-down(xs) {
      padding: 30px;
      margin-bottom: 20px;
    }

    a {
      text-decoration: underline;
    }

    &.text-section {
      h2 {
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 1.6px;
        text-align: center;
        color: $gray-dark;
        margin-bottom: 30px;

        @include media-breakpoint-down(xs) {
          font-size: 32px;
          font-weight: bold;
          line-height: 1.19;
          letter-spacing: 1.6px;
          text-align: center;
        }
      }

      p {
        font-size: 16px;
        line-height: 2;
        text-align: center;
        color: $gray-brown;
        max-width: 900px;
        text-align: center;
        margin: auto;

        @include media-breakpoint-down(xs) {
          font-size: 16px;
          line-height: 2;
          text-align: center;
        }
      }

      &.background-image {
        background-image: url('/assets/case-study-background-section-desktop.png');
        background-position: top center;
        background-size: cover;

        @include media-breakpoint-down(sm) {
          background-image: url('/assets/case-study-background-section-mobile.png');
        }
      }
    }

    &.product-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px;

      @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 25px;
      }

      .text-container {
        h2 {
          margin-bottom: 30px;
          font-size: 48px;
          font-weight: 600;
          letter-spacing: 1.6px;
          color: $gray-dark;

          @include media-breakpoint-down(md) {
            text-align: center;
          }

          @include media-breakpoint-down(xs) {
            font-size: 32px;
            font-weight: bold;
            line-height: 1.19;
            letter-spacing: 1.6px;
            text-align: center;
          }
        }

        p {
          font-size: 16px;
          line-height: 2;
          color: $gray-brown;

          @include media-breakpoint-down(md) {
            text-align: center;
          }

          @include media-breakpoint-down(xs) {
            font-size: 16px;
            line-height: 2;
            text-align: center;
          }
        }

        ul {
          padding-left: 20px;
        }
      }

      app-img {
        justify-self: center;

        @include media-breakpoint-down(md) {
          grid-row: 1;
        }
      }
    }

    &.conclusion-section {
      margin-bottom: 0;

      h2 {
        margin-bottom: 50px;
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 1.6px;
        text-align: center;

        @include media-breakpoint-down(xs) {
          margin-bottom: 25px;
          font-size: 32px;
          font-weight: bold;
          line-height: 1.19;
          letter-spacing: 1.6px;
          text-align: center;
        }
      }

      h3 {
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.39;
        color: $orange-dark;

        @include media-breakpoint-down(xs) {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 1.6px;
        }
      }

      p {
        margin-bottom: 55px;
        font-size: 18px;
        line-height: 2;
        color: $gray-brown;

        &.top-link {
          color: $orange;
          cursor: pointer;
          font-size: 15px;
          font-weight: bold;
          letter-spacing: 1.6px;
          margin-top: 15px;
          text-decoration: underline;
          text-align: center;
        }

        @include media-breakpoint-down(md) {
          text-align: center;
        }

        @include media-breakpoint-down(xs) {
          font-size: 16px;
          line-height: 2;
          text-align: center;
        }
      }

      .download-link {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
    }

    // TIMELINE
    &.timeline {
      h2 {
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 1.6px;
        text-align: center;

        @include media-breakpoint-down(xs) {
          font-size: 32px;
          font-weight: bold;
          line-height: 1.19;
          letter-spacing: 1.6px;
          text-align: center;
          margin-bottom: 20px;
        }
      }

      .timeline-items {
        display: grid;
        grid-template-columns: 1fr 1fr;

        // a wrapper to made the border make the middle line
        .timeline-wrapper {
          border-right: 2px solid $gray-brown;
          position: relative;
        }

        .timeline-bullet-left {
          // left line
          &:after {
            position: absolute;
            height: 2px;
            display: block;
            width: 105px;
            background: $gray-brown;
            content: '';
            right: 0;
            top: 50%;
          }

          @include media-breakpoint-down(lg) {
            &:after {
              width: 70px;
            }
          }
        }

        .timeline-bullet-right {
          // right line
          &:after {
            position: absolute;
            height: 2px;
            display: block;
            width: 108px;
            background: $gray-brown;
            content: '';
            left: -108px;
            top: 50%;
          }

          @include media-breakpoint-down(lg) {
            &:after {
              width: 75px;
              left: -75px;
            }
          }
        }

        .timeline-item {
          display: flex;
          background: $gray-100;
          margin: 20px;
          border-radius: 10px;
          box-shadow: 0 5px 15px 0 rgba(158, 158, 158, 1);
          width: 80%;
          min-height: 208px;

          &:nth-child(even) {
            position: relative;
            justify-self: end;

            @include media-breakpoint-down(md) {
              width: 60%;
              justify-self: center;
            }

            @include media-breakpoint-down(xs) {
              width: initial;
              justify-self: initial;
            }
          }

          .timeline-item-content {
            padding: 10px;

            h3 {
              font-size: 18px;
              font-weight: bold;
              line-height: 2;
              color: $gray-dark;
              text-transform: uppercase;
            }

            ul {
              padding-left: 20px;
            }
          }

          app-img {
            padding-left: 10px;

            img {
              width: 150px;
              margin-top: 25%;

              @include media-breakpoint-down(lg) {
                margin-top: 50%;
              }
            }
          }
        }
      }

      .final-timeline-item {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;

        .timeline-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 !important;
          background: $gray-100;
          margin: 20px;
          border-radius: 10px;
          box-shadow: 0 5px 15px 0 rgba(158, 158, 158, 1);

          .timeline-item-content {
            margin-top: 10px;

            h3 {
              font-size: 18px;
              font-weight: bold;
              line-height: 2;
              color: $gray-dark;
              text-transform: uppercase;
            }
          }

          app-img img {
            width: 150px;
          }

          @include media-breakpoint-down(md) {
            width: 30%;
            justify-self: center;
          }
        }
      }

      // TIMELINE MEDIUM DESKTOP BREAKPOINT
      @include media-breakpoint-down(md) {
        .timeline-items {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 30px;

          .blank-cell {
            display: none;
          }

          // a wrapper to made the border make the middle line
          .timeline-wrapper {
            width: 60%;
            justify-self: center;
            border-right: none;
          }

          .timeline-bullet-left {
            // line
            &:after {
              height: 2px;
              margin-top: 15px;
              right: 48%;
              top: 100%;
              transform: rotate(90deg);
              width: 30px;
            }
          }

          .timeline-bullet-right {
            // line
            &:after {
              height: 2px;
              left: 48%;
              margin-top: 15px;
              top: 100%;
              transform: rotate(90deg);
              width: 30px;
            }
          }

          .timeline-item {
            display: flex;
            flex-direction: column;
            background: $gray-100;
            border-radius: 10px;
            box-shadow: 0 5px 15px 0 rgba(158, 158, 158, 1);
            min-height: initial;
            margin: 0;
            width: 100%;

            .timeline-item-content {
              padding: 10px;

              h3 {
                font-size: 18px;
                font-weight: bold;
                line-height: 2;
                color: $gray-dark;
                text-align: center;
                text-transform: uppercase;
              }

              ul {
                padding-left: 20px;
                margin-left: 2rem;

                li {
                  font-size: 16px;
                  line-height: 1.75;
                }
              }
            }

            app-img {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding-top: 10px;
              padding-left: 0;

              img {
                margin: 0;
                width: 80px;
              }
            }
          }
        }

        .final-timeline-item {
          display: grid;
          grid-template-columns: 1fr;
          margin-top: 32px;

          .blank-cell {
            display: none;
          }

          .timeline-item {
            flex-direction: column-reverse;
          }

          .timeline-item-content {
            font-size: 18px;
            font-weight: bold;
            line-height: 2;
            color: $gray-dark;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }

      // TIMELINE SMALL DESKTOP BREAKPOINT
      @include media-breakpoint-down(sm) {
        .timeline-items {
          .timeline-bullet-left {
            &:after {
              right: 48%;
            }
          }

          .timeline-bullet-right {
            &:after {
              left: 46%;
            }
          }
        }
      }

      // TIMELINE XSMALL MOBILE BREAKPOINT
      @include media-breakpoint-down(xs) {
        .timeline-items {
          .timeline-wrapper {
            width: initial;
            justify-self: initial;
          }

          .timeline-bullet-left {
            &:after {
              right: 45%;
            }
          }

          .timeline-bullet-right {
            &:after {
              left: 45%;
            }
          }
        }
      }
    }
  }
}
