.ourwork {
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;

  .hero {
    //background: url('/assets/svg/about-graphic-header.svg') right top no-repeat;
    text-align: center;
    @include media-breakpoint-down(md) {
      background-position: right bottom;
    }

    .row {
      height: 700px;

      @include media-breakpoint-down(md) {
        height: 780px;
      }

      p {
        color: black;
        font-weight: bolder;
      }

      h1 {
        font-size: 2rem;
      }

      .text-container {
        @include media-breakpoint-down(md) {
          margin-bottom: 10rem;
        }
      }
    }
  }
}
