// section - team-landing
section.team-landing {
  font-family: 'Muli', sans-serif;

  .hero {
    @include media-breakpoint-down(sm) {
      background-position: left top;
    }
    background-position: top center;
    background-size: cover;
    height: 534px;
    margin: 75px 0 0;
    .container,
    .row {
      height: 100%;
    }

    h2 {
      @include media-breakpoint-down(lg) {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1.6px;
        line-height: 38px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1.75rem;
        text-align: center;
      }
      color: $white;
      font-size: 4rem;
      margin-bottom: 1rem;
      text-align: left;
    }

    h4 {
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
      color: $white;
      font-weight: 600;
      line-height: 34px;
      text-align: left;
    }

    p {
      @include media-breakpoint-down(lg) {
        font-size: 1rem;
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
      color: $white;
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 2rem;
      text-align: left;
    }
  }

  .bio {
    @include media-breakpoint-down(sm) {
      grid-template-columns: none;
      padding: 2rem;
    }
    align-items: center;
    column-gap: 4rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 5rem 8rem;

    .text {
      @include media-breakpoint-down(sm) {
        margin-left: 0;
        text-align: center;

        h2,
        h4,
        p {
          text-align: center;
        }
      }
      margin-left: 35px;

      h2 {
        color: #333333;

        font-size: 2.625rem;
        font-weight: 600;
        letter-spacing: 2.1px;
        line-height: 47px;
        text-align: left;
      }
      h4 {
        color: #333333;
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 34px;
        text-align: left;
      }
      p {
        color: #4a494a;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 2rem;
        padding: 0;
        text-align: left;
        &.check-link {
          color: $orange;
          font-size: 26px;
          margin-bottom: 0;
        }
      }
    }
  }

  .skill-chip {
    background: #e95500;
    border-radius: 20px;
    color: $white;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .members {
    margin-bottom: 8rem;
    h2 {
      color: #333333;
      font-size: 2.625rem;
      font-weight: 600;
      letter-spacing: 2.1px;
      line-height: 38px;
      margin: 2rem 0 3rem;
    }
  }
}
