// section - team-landing
section.team-landing {
  // hero
  .hero {
    background-position: top center;
    background-size: cover;
    height: 100vh;

    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100vh;
    }

    .container,
    .row {
      height: 100%;
    }

    h2 {
      color: $orange-dark;
      font-size: 4rem;
      margin-bottom: 1rem;
      text-align: right;
      @include media-breakpoint-down(lg) {
        font-size: 3rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2.2rem;
      }
    }
    h4 {
      color: $orange;
      margin-bottom: 3rem;
      text-align: right;
    }
    p {
      color: $white;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 3rem;
      text-align: right;
      @include media-breakpoint-down(lg) {
        font-size: 1rem;
      }
    }
  }

  .text-img-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
    h2 {
      text-align: center;
    }
    p {
      padding: 2rem;
    }
  }

  .text-img-container {
    display: grid;

    app-img {
      justify-self: center;
      img {
        object-fit: cover;
      }
    }

    &.right-side {
      grid-template-columns: 0.5fr 1fr;

      .text-img-container-text {
        margin-left: 10px;
        h2,
        h4 {
          color: $orange;
          text-align: left;
        }
        p {
          text-align: left;
          padding: 0;
          margin-bottom: 1rem;
          &.check-link {
            font-size: 26px;
            color: $orange;
            margin-bottom: 0;
          }
        }

        @include media-breakpoint-down(sm) {
          text-align: center;

          h2, h4, p {
            text-align: center;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        grid-template-columns: none;
      }
    }
    &.left-side {
      grid-template-columns: 1fr 0.5fr;

      .text-img-container-text {
        margin-right: 10px;
        h2 {
          color: $orange;
          text-align: right;
        }
        p {
          text-align: right;
          padding: 0;
          margin-bottom: 1rem;
          &.check-link {
            font-size: 26px;
            color: $orange;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .skill-chip {
    background: orange;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 21px;
    color: $white;
    font-size: 12px;
  }
}
