// section - team-landing
section.team-landing {
  font-family: 'Muli', sans-serif;

  .hero {
    background-position: top center;
    background-size: cover;
    height: 100vh;

    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100vh;
    }

    .container,
    .row {
      height: 100%;
    }

    h2 {
      color: $orange-dark;
      font-size: 4rem;
      margin-bottom: 1rem;
      text-align: right;
      
      @include media-breakpoint-down(lg) {
        font-size: 3rem;
      }
      
      @include media-breakpoint-down(sm) {
        font-size: 2.2rem;
        text-align: center;
      }
    }
    
    h4 {
      color: $orange;
      margin-bottom: 3rem;
      text-align: right;
      
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }

    p {
      color: $white;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 3rem;
      text-align: right;
      
      @include media-breakpoint-down(lg) {
        font-size: 1rem;
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }

    @include media-breakpoint-down(sm) {
      background-position: left top;
    }
  }


  .bio {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 4rem;

    .text {
      margin-left: 35px;

      h2, h4 {
        color: $orange;
        text-align: left;
      }

      p {
        text-align: left;
        padding: 0;
        margin-bottom: 1rem;

        &.check-link {
          font-size: 26px;
          color: $orange;
          margin-bottom: 0;
        }
      }

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        text-align: center;

        h2,
        h4,
        p {
          text-align: center;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: none;
      padding: 2rem;
    }
  }

  .skill-chip {
    background: orange;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 21px;
    color: $white;
    font-size: 12px;
  }

  .cta {
    background: linear-gradient(-160deg, #f99a2a 0%, #f9902a 100%);
    height: 114px;

    .cta-container {
      height: inherit;
      line-height: 2.5rem;
    }

    h3 {
      font-size: 1.5rem;
      margin: 0 4rem;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-right: 2rem;
      }
    }

    @include media-breakpoint-down(sm) {
      height: 140px;
    }
  }
}
