.blog-content-header {
  text-align: left;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .blog-content-date-author {
    align-content: center;
    justify-content: center;

    .blog-content-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
    }

    .blog-content-author {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .profile-image {
        height: 75px;
        width: 75px;
        margin-right: 15px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .blog-content-post {
    text-align: left;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .blog-content-image {
    padding: 2%;
    width: 100%;
    border-radius: 35px;
  }
}

.blog-content-author {
  hr {
    border-color: $black;
  }

  .blog-content-author-image {
    text-align: center;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .blog-content-author-text {
    h5 {
      font-size: 16px;
      color: $orange;
    }
  }
}

.contact-icons-top {
  display: flex;
}

.contact-icons-side {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.contact-icon {
  margin: 10px;
}
