.blog-content-header {
  text-align: left;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  h1 {
    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }
  }

  .blog-content-date-author {
    align-content: center;
    justify-content: center;

    .blog-content-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
    }

    .blog-content-author {
      @include media-breakpoint-down(sm) {
        padding: 20px 0;
      }

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .profile-image {
        height: 75px;
        width: 75px;
        margin-right: 15px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .blog-content-post {
    text-align: left;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .blog-content-image {
    padding: 2%;
    width: 100%;
    border-radius: 35px;
  }
}

.blog-content-author {
  hr {
    border-color: $black;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .blog-content-author-image {
    text-align: center;

    h5 {
      display: none;
      @include media-breakpoint-down(sm) {
        font-size: 16px;
        color: $orange;
        display: block;
        padding-bottom: 10px;
      }
    }

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  }

  .blog-content-author-text {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    h5 {
      font-size: 16px;
      color: $orange;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

#blog-content-contact-icons-top {
  @include media-breakpoint-down(sm) {
    display: block !important;
    text-align: center;
  }
}

.contact-icons-top {
  display: flex;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.contact-icons-side {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.contact-icon {
  margin: 10px;
}

.blog-content-body {
  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: 20px 0;
  }
}
