.header {
  text-align: left;

  h1 {
    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }
  }

  p {
    margin-bottom: 10px;
  }

  &--date {
    color: #6d6e71;
    font-size: 12px;
  }

  &--author {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    justify-content: space-between;

    img {
      border-radius: 50%;
      height: 75px;
      margin-right: 15px;
      object-fit: cover;
      width: 75px;
    }

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }

  &--main-image {
    border-radius: 35px;
    padding: 2%;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: 0 1rem;
  }
}

.content {
  text-align: left;
  margin-top: 1rem;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.blog-content-author {
  hr {
    border-color: $black;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .blog-content-author-image {
    text-align: center;

    h5 {
      display: none;
      @include media-breakpoint-down(sm) {
        font-size: 16px;
        color: $orange;
        display: block;
        padding-bottom: 10px;
      }
    }

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  }

  .blog-content-author-text {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    h5 {
      font-size: 16px;
      color: $orange;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.contact-icon {
  margin: 10px;
  img {
    width: 20px;
  }
}

.contact-icons-top {
  display: flex;
  justify-content: center;

  .contact-icon {
    margin: 5px;
    img {
      border-radius: 0;
      width: 15px;
      height: 15px;
    }
  }

  @include media-breakpoint-down(sm) {
    display: initial;
    margin-bottom: 0;
    justify-content: initial;
  }
}

.contact-icons-side {
  display: flex;
  flex-direction: column;
  float: right;
  padding: 15px;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.author-img-container {
  display: flex;
  align-items: center;
}

#blog-next-posts-side {
  display: block;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

#blog-next-posts-bottom {
  display: none;

  @include media-breakpoint-down(md) {
    display: block;
  }
}

.blog-next-posts {
  h1 {
    color: #292a2d;
    font-family: Muli;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }

  .blog-next-posts-title {
    h2 {
      color: #292a2d;
      font-family: Muli;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1.02px;
      line-height: 19px;
      text-align: center;
      margin-top: 10px;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
        margin-bottom: 35px;
      }
    }
  }
}
