@import 'node_modules/bootstrap/scss/functions';

// Fonts
$font-roboto: 'Roboto', sans-serif;

// Colors
$gray-100: #f4f5f9 !default;
$gray-500: #9fa3a7 !default;
$gray-600: #6d6e71 !default;
$gray-800: #282828 !default;
$gray-light: #f4f5f9 !default;
$gray-brown: #5d534e !default;
$gray-dark: #292a2d !default;
$black: #171719 !default;
$blue: #638593 !default;
$cyan: #0095aa !default;
$indigo: #323c47 !default;
$red: #dc3545 !default; // TODO
$orange: #e88212 !default;
$orange-light: #f3b13d !default;
$orange-medium: #c75300 !default;
$orange-dark: #ff5d00 !default;
$yellow: #d8aa0c !default;
$green: #28a745 !default; // TODO
$primary: $orange !default;
$info: $blue !default;

// Options
$enable-gradients: true !default;
$enable-print-styles: false !default;

// Grid breakpoints + containers
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px,
) !default;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px,
) !default;

// Type
$line-height-base: 2 !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.4 !default;

// Buttons
$btn-padding-x: 3rem !default;

// Navbar
$navbar-padding-y: 0.5rem !default;
$navbar-nav-link-padding-x: 1.5rem !default;
$navbar-dark-hover-color: rgba($orange, 0.75) !default;
$navbar-dark-active-color: $orange !default;
$navbar-dark-color: rgba($gray-100, 0.75) !default;

// Box-shadow
// sass-lint:disable indentation
$of-boxshadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px lighten(rgba(0, 0, 0, 0.2), 5%);

// Check Browser for .webp capability

@import 'node_modules/bootstrap/scss/variables';
