@import 'mixins.scss';
@import 'variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

// OPENFORGE TYPOGRAPHY
h1 {
  font-family: 'Muli';
  font-weight: 600;
  font-size: 52px;
  color: #292a2d;

  &.subheading {
    font-size: 26px;
    color: #c75300;
  }
}

h2 {
  font-family: 'Muli';
  font-weight: 400;
  font-size: 42px;
  color: #292a2d;

  &.subheading {
    font-size: 21px;
    color: #c75300;
  }
}

h3 {
  font-family: 'Muli';
  font-weight: 600;
  font-size: 28px;
  color: #292a2d;
}

h4 {
  font-family: 'Muli';
  font-weight: 600;
  font-size: 24px;
  color: #292a2d;
}

h5.dark {
  font-family: 'Muli';
  font-weight: 700;
  font-size: 16px;
  color: $white;
}

h5.gray {
  font-family: 'Muli';
  font-weight: 700;
  font-size: 16px;
  color: #5f7172;
}

p.small {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #5d534e;
}

p.medium {
  font-family: 'Muli';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #5d534e;
}

p.large {
  font-family: 'Muli';
  font-weight: 700;
  font-size: 18px;
  color: #5d534e;
}

p.disclaimer {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 13px;
  color: #5d534e;
}

@media (prefers-color-scheme: dark) {
  h1 {
    font-family: 'Muli';
    font-weight: 600;
    font-size: 52px;
    color: $white;

    &.subheading {
      font-size: 26px;
      color: #ffc829;
    }
  }

  h2 {
    font-family: 'Muli';
    font-weight: 400;
    font-size: 42px;
    color: $white;

    &.subheading {
      font-size: 21px;
      color: #ffc829;
    }
  }

  h3 {
    font-family: 'Muli';
    font-weight: 600;
    font-size: 28px;
    color: $white;
  }

  h4 {
    font-family: 'Muli';
    font-weight: 600;
    font-size: 24px;
    color: $white;
  }

  h5.dark,
  h5.gray {
    font-family: 'Muli';
    font-weight: 700;
    font-size: 16px;
    color: $white;
  }

  p.small {
    font-family: 'Muli';
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: #5d534e;
  }

  p.medium {
    font-family: 'Muli';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #5d534e;
  }

  p.large {
    font-family: 'Muli';
    font-weight: 700;
    font-size: 18px;
    color: #5d534e;
  }

  p.disclaimer {
    font-family: 'Muli';
    font-weight: 300;
    font-size: 13px;
    color: #5d534e;
  }
}

// OPENFORGE BUTTONS
button.primary {
  background: #0095aa;
  border-color: $white;
  border-radius: 16px;
  color: $white;
  padding: 0.375rem 3rem;
  letter-spacing: 0.1em;
  line-height: 1.5rem;
  text-transform: uppercase;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 50.2%, 0.5);
  -webkit-box-shadow: 0 2px 4px 0 hsla(0, 0%, 50.2%, 0.5);

  @include media-breakpoint-down(md) {
    padding: 0.375rem 2rem;
  }

  &:hover,
  &:focus,
  &:active {
    background: #007180;
  }

  &:disabled {
    opacity: 0.7;
  }
}

button.secondary {
  background: #0095aa;
  border-radius: 50px;
  color: #ffffff;
  padding: 1rem 0.75rem;
  letter-spacing: 0.1em;
  line-height: 1.5rem;
  text-transform: uppercase;
  border-color: #0095aa;
  box-shadow: none;

  @include media-breakpoint-down(md) {
    padding: 0.375rem 2rem;
  }

  &:hover,
  &:focus,
  &:active {
    -webkit-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  }

  &:disabled {
    opacity: 0.7;
  }
}

button.terciary {
  background: #698083;
  border-radius: 50px;
  color: #ffffff;
  padding: 1rem 0.75rem;
  letter-spacing: 0.1em;
  line-height: 1.5rem;
  text-transform: uppercase;
  border-color: #698083;
  box-shadow: none;

  @include media-breakpoint-down(md) {
    padding: 0.375rem 2rem;
  }

  &:hover,
  &:focus,
  &:active {
    -webkit-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  }

  &:disabled {
    opacity: 0.7;
  }
}
