.content-graphic-lg {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include media-breakpoint-down(sm) {
    padding: 0;
    text-align: center;
  }

  img {
    max-height: 400px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      max-height: 200px;
    }
  }

  h3 {
    color: $orange-dark;
    font-size: 2.25rem;
    font-weight: bold;
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 15px;
    }
  }

  p {
    margin: 0;
    @include media-breakpoint-down(sm) {
      font-size: 0.85rem;
      margin-bottom: 30px;
    }
  }

  .content {
    padding: 0 3rem;
    @include media-breakpoint-down(sm) {
      padding: 0 15px;
    }
  }
}
