.content-graphic-lg {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  img {
    max-height: 400px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      max-width: 250px;
      width: 50vw;
    }
  }

  h3 {
    color: darken($orange-dark, 10%);
    font-size: 2.25rem;
    font-weight: bold;
  }

  p {
    margin: 0;
  }
}
