@function longshadow($color, $size) {
  $val: 5px 0 0 $size $color;

  @for $i from 0 through 800 {
    $val: #{$val}, #{$i}px 0 0 $size #{$color};
  }

  @return $val;
}

.form-group.slider {
  margin: 0 auto 3rem;
  max-width: 800px;

  label {
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  input[type='range'] {
    -webkit-appearance: none;
    // border: 1px solid white;
    width: 100%;
    display: flex;
    overflow: hidden;
  }
  // Chrome
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: $orange;
    border: none;
    border-radius: 3px;
    box-shadow: $of-boxshadow;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: black;
    border-radius: 50%;
    box-shadow: longshadow($gray-500, -10px);
    height: 30px;
    margin-top: -10px;
    width: 30px;
  }
  input[type='range']:focus {
    outline: none;
    &::-webkit-slider-runnable-track {
      background: $orange;
    }
  }
  // Firefox
  input[type='range']::-moz-range-track {
    height: 5px;
    background: $gray-500;
    border: none;
    border-radius: 3px;
    box-shadow: $of-boxshadow;
  }
  input[type='range']::-moz-range-thumb {
    background: white;
    border: 2px solid $orange;
    border-radius: 50%;
    height: 16px;
    width: 16px;
  }
  input[type='range']::-moz-focus-outer {
    border: 0;
  }
  input[type='range']::-moz-range-progress {
    background-color: $orange;
  }
  // IE
  input[type='range']::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    box-shadow: none;
    color: transparent;
    height: 8px;
    width: 100%;
  }
  input[type='range']::-ms-fill-lower {
    background: $orange;
    border-radius: 10px;
  }
  input[type='range']::-ms-fill-upper {
    background: $gray-500;
    border-radius: 10px;
  }
  input[type='range']::-ms-thumb {
    background: white;
    border: 4px solid $orange;
    border-radius: 50%;
    margin-top: 0;
    box-shadow: $of-boxshadow;
    height: 16px;
    width: 16px;
  }
  input[type='range']:focus {
    &::-ms-fill-upper {
      background: $gray-500;
    }
    &::-ms-fill-lower {
      background: darken($orange, 10%);
    }
    &::-ms-thumb {
      border: 4px solid $orange-dark;
    }
  }
}
