// hero
.hero {
  background: url('../../assets/bg-hero-woman-writing.jpg') top center;
  background-size: cover;
  height: 100vh;

  .container,
  .row {
    height: 100%;
  }

  h2 {
    color: $white;
    font-size: 4rem;
    margin-bottom: 1rem;
    @include media-breakpoint-down(lg) {
      font-size: 3rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2.8rem;
    }
  }

  p {
    color: $white;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    max-width: 500px;
    @include media-breakpoint-down(lg) {
      font-size: 1rem;
    }
  }
}
