// section - services
section.services {
  // hero
  .hero {
    &.development {
      background-image: url('/assets/team-landing-header-development-team.jpg');
    }
    &.design {
      background-image: url('/assets/team-landing-header-design-team.jpg');
    }
    &.consulting {
      background-image: url('/assets/team-landing-header-management-team.jpg');
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100vh;
    }
    background-position: top center;
    background-size: cover;
    height: 100vh;
    .container {
      margin: auto;
      width: 80%;
      @media (max-width: 990px) {
        width: 85%;
      }
      @media (max-width: 768px) {
        width: 90%;
      }
    }
    h2 {
      color: white;
      font-size: 3rem;
      margin-top: 4.5em;
      margin-bottom: 1rem;
      @media (max-width: 990px) {
        font-size: 2.5rem;
      }
      @media (max-width: 768px) {
        margin-top: 3.5em;
      }
      @media (max-width: 420px) {
        font-size: 2rem;
        margin-top: 2.5em;
      }
      @media (max-height: 570px) {
        font-size: 1.5rem;
      }
    }
    p {
      color: $white;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 3rem;
      @media (max-width: 768px) {
        font-size: 1rem;
      }
      @media (max-width: 420px) {
        font-size: 0.9rem;
      }
      @media (max-height: 570px) {
        font-size: 0.8rem;
        margin-bottom: 2rem;
      }
    }
  }
  .text-img-container {
    display: grid;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 80%;
    @media (max-width: 990px) {
      width: 85%;
    }
    @media (max-width: 768px) {
      width: 90%;
    }
    app-img {
      justify-self: center;
      object-fit: cover;
    }
    &.right-side {
      grid-template-columns: 1fr 2fr;
      .text-img-container-text {
        margin-left: 10px;
        h2 {
          color: $orange;
          text-align: left;
        }
        p {
          text-align: left;
          margin-bottom: 5px;
          &.check-link {
            font-size: 20px;
            color: $orange;
            margin-bottom: 0;
          }
        }
      }
    }
    &.left-side {
      grid-template-columns: 2fr 1fr;
      .text-img-container-text {
        margin-right: 10px;
        h2 {
          color: $orange;
          text-align: right;
        }
        p {
          text-align: right;
          margin-bottom: 5px;
          &.check-link {
            font-size: 20px;
            color: $orange;
            margin-bottom: 0;
          }
        }
      }
    }
    @media (max-width: 768px) {
      &.right-side {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
        .text-img-container-text {
          h2,
          p {
            text-align: center;
          }
        }
      }
      &.left-side {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
        app-img {
          grid-row: 1;
        }
        .text-img-container-text {
          h2,
          p {
            text-align: center;
          }
        }
      }
    }
  }
  .our-toolbox {
    padding: 2rem 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#020001+10,666666+50,000000+90 */
    background: linear-gradient(
      to right,
      #020001 10%,
      #666666 50%,
      #000000 90%
    );
    .image-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: auto;
      width: 80%;
      @media (max-width: 990px) {
        width: 85%;
      }
      @media (max-width: 768px) {
        width: 90%;
      }
    }
    h2,
    p {
      color: white;
      text-align: center;
      margin-bottom: 12px;
    }
    h2 {
      text-transform: uppercase;
    }
    .img-item {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 20vw;
      }
    }
  }

  .work-examples {
    padding-top: 4rem;
    text-align: center;
  }

  .no-examples {
    margin-top: 4rem;
    margin-bottom: 4rem;
    h2 {
      font-size: 46px;
      text-align: center;
    }
  }
}
