// section - services

.services {
  font-family: 'Muli', sans-serif;

  section {
    padding: 5rem 0;

    .header {
      margin: 0 auto 3rem;
      max-width: 768px;
    }
  }


  .hero {
    padding-top: 150px;

    .row {
      height: auto;
      padding-bottom: 2rem;
    }
  }

  .our-services {
    .container {
      max-width: 960px;
    }

    .card {
      background: rgba($gray-100, 0.5);
      border-radius: 22px;

      img {
        padding: 3rem;
      }

      h3 {
        color: $orange-dark;
      }

      .line-break {
        margin: 0 2rem;
      }
    }
  }

  .worked-with {

  }

  .our-work {

  }

  .line-break {
    border-bottom: 1px solid $gray-800;
  }

}
