// section - services
section.services {
  // hero
  .hero {
    &.development {
      background-image: url('/assets/team-landing-header-development-team.jpg');
    }
    &.design {
      background-image: url('/assets/team-landing-header-design-team.jpg');
    }
    &.consulting {
      background-image: url('/assets/team-landing-header-management-team.jpeg');
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100vh;
    }

    background-position: top center;
    background-size: cover;
    height: 100vh;

    .container,
    .row {
      height: 100%;
    }

    h2 {
      color: $white;
      font-size: 4rem;
      margin-bottom: 1rem;
      @include media-breakpoint-down(lg) {
        font-size: 3rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2.2rem;
      }
    }

    p {
      color: $white;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 3rem;
      max-width: 500px;
      @include media-breakpoint-down(lg) {
        font-size: 1rem;
      }
    }

    &.development,
    &.design,
    &.consulting {
      h2 {
        text-align: initial;
      }
      p {
        max-width: initial;
        padding: 0;
      }
    }
  }

  .text-img-container {
    margin-top: 4rem;
    &:first-child {
      margin-top: 0;
      padding-top: 6rem;
    }
    h2 {
      text-align: center;
    }
    p {
      padding: 2rem;
    }
  }

  .text-img-container {
    display: grid;

    app-img {
      justify-self: center;
      img {
        object-fit: cover;
      }
    }

    &.right-side {
      grid-template-columns: 0.5fr 1fr;
      grid-column-gap: 30px;
      .text-img-container-text {
        h2 {
          color: $orange;
          text-align: left;
        }
        p {
          margin-bottom: 1rem;
          padding: 0;
          text-align: left;
          &.check-link {
            color: $orange;
            font-size: 26px;
            margin-bottom: 0;
            text-decoration: underline;
          }
        }
      }
    }
    &.left-side {
      grid-template-columns: 1fr 0.5fr;
      grid-column-gap: 30px;
      .text-img-container-text {
        h2 {
          color: $orange;
          text-align: right;
        }
        p {
          margin-bottom: 1rem;
          padding: 0;
          text-align: right;
          &.check-link {
            color: $orange;
            font-size: 26px;
            margin-bottom: 0;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .our-toolbox {
    margin-top: 4rem;
    padding-bottom: 4rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#020001+10,666666+50,000000+90 */
    background: linear-gradient(
      to right,
      #020001 10%,
      #666666 50%,
      #000000 90%
    );
    h2,
    h3,
    p {
      color: white;
      padding-top: 1rem;
      text-align: center;
    }

    h2,
    h3 {
      text-transform: uppercase;
    }

    p {
      margin-bottom: 0;
    }

    .image-column {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 250px;
        width: 100%;
      }
    }
  }

  .work-examples {
    margin-top: 4rem;
    margin-bottom: 4rem;
    h2 {
      text-align: center;
    }
    .single-example {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .single-example-text {
        h2 {
          color: $orange;
          text-align: left;
        }
      }
      app-img {
        justify-self: center;
      }
    }
  }

  .no-examples {
    margin-top: 4rem;
    margin-bottom: 4rem;
    h2 {
      font-size: 46px;
      text-align: center;
    }
  }
}
