.opportunities {
  // hero
  .hero {
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(100vh - 76px);
    margin-top: 76px;

    &.header-animated {
      background-image: url('/assets/opportunities/opportunities-header-animated.svg');

      @include media-breakpoint-down(md) {
        background-image: url('/assets/opportunities/opportunities-tablet-header-animated.svg');
      }
      @include media-breakpoint-down(sm) {
        background-image: url('/assets/opportunities/opportunities-mobile-header-animated.svg');
      }
    }

    &.header-transition-dev {
      background-image: url('/assets/opportunities/opportunities-transition-dev.svg');

      @include media-breakpoint-down(md) {
        background-image: url('/assets/opportunities/opportunities-tablet-transition-dev.svg');
      }
      @include media-breakpoint-down(sm) {
        background-image: url('/assets/opportunities/opportunities-mobile-transition-dev.svg');
      }
    }

    &.header-transition-design {
      background-image: url('/assets/opportunities/opportunities-transition-design.svg');

      @include media-breakpoint-down(md) {
        background-image: url('/assets/opportunities/opportunities-tablet-transition-design.svg');
      }
      @include media-breakpoint-down(sm) {
        background-image: url('/assets/opportunities/opportunities-mobile-transition-design.svg');
      }
    }

    &.header-transition-dev-design {
      background-image: url('/assets/opportunities/opportunities-transition-dev-design.svg');

      @include media-breakpoint-down(md) {
        background-image: url('/assets/opportunities/opportunities-tablet-transition-design.svg'); // MISSING REAL TRANSITION SVG
      }
      @include media-breakpoint-down(sm) {
        background-image: url('/assets/opportunities/opportunities-mobile-transition-design.svg'); // MISSING REAL TRANSITION SVG
      }
    }

    &.header-transition-design-dev {
      background-image: url('/assets/opportunities/opportunities-transition-design-dev.svg');

      @include media-breakpoint-down(md) {
        background-image: url('/assets/opportunities/opportunities-tablet-transition-dev.svg'); // MISSING REAL TRANSITION SVG
      }
      @include media-breakpoint-down(sm) {
        background-image: url('/assets/opportunities/opportunities-mobile-transition-dev.svg'); // MISSING REAL TRANSITION SVG
      }
    }

    &.header-dev-active {
      background-image: url('/assets/opportunities/opportunities-dev-active.svg');

      @include media-breakpoint-down(md) {
        background-image: url('/assets/opportunities/opportunities-tablet-dev-active.svg'); // MISSING SVG
      }
      @include media-breakpoint-down(sm) {
        background-image: url('/assets/opportunities/opportunities-mobile-dev-active.svg');
      }
    }

    &.header-design-active {
      background-image: url('/assets/opportunities/opportunities-design-active.svg');

      @include media-breakpoint-down(md) {
        background-image: url('/assets/opportunities/opportunities-tablet-design-active.svg'); // MISSING SVG
      }
      @include media-breakpoint-down(sm) {
        background-image: url('/assets/opportunities/opportunities-mobile-design-active.svg');
      }
    }

    .container,
    .row {
      height: calc(100vh - 76px);
      justify-content: center;
    }

    .hero-text-container {
      margin-top: 8rem;

      @include media-breakpoint-down(lg) {
        margin-top: 4rem;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 3rem;
      }
    }

    .hero-arrow-img {
      display: flex;
      margin-top: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 50px;
      }
    }

    h2 {
      color: #121212;
      font-size: 4rem;
      margin-bottom: 1rem;
      text-align: center;
      @include media-breakpoint-down(lg) {
        font-size: 3rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 2rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 26px;
      }
    }

    p {
      color: #121212;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 1.5rem;
      text-align: center;
      @include media-breakpoint-down(lg) {
        font-size: 16px;
      }
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }

    .opportunity-btn {
      background-color: #0095aa;
      border: 0.75px solid #ffffff;
      border-radius: 16px;
      box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.5);

      &.active,
      &:focus {
        box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.5), inset 0 0 7px 4px rgba(0, 0, 0, 0.3) !important;
        background-color: #0095aa !important;
        border-color: white !important;
      }

      @include media-breakpoint-down(sm) {
        width: 60%;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    .hero-type-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  header.hero-submit {
    margin-top: 76px;
  }

  .interviews {
    padding: 3rem 0;

    a {
      color: #6d6e71;
      text-decoration: underline;
    }

    .challenge {
      background: linear-gradient(to bottom, $orange 0%, $orange-dark 100%);
      margin: 5rem 0;
      padding-top: 6rem;
      @include media-breakpoint-down(sm) {
        margin: 3rem 0;
        padding-top: 3rem;
      }

      h2,
      h3 {
        color: white;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        @include media-breakpoint-down(sm) {
          font-size: 2.5rem;
        }
      }

      h3 {
        font-size: 1.5rem;
      }

      p {
        color: white;
        font-size: 1.2rem;
        line-height: 1.4;
        margin-bottom: 1.5rem;
      }

      .intro {
        padding-bottom: 2rem;
        @include media-breakpoint-down(sm) {
          padding-bottom: 0;
        }
      }

      .image-column {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;

        app-img {
          img {
            max-width: 300px;
            width: 100%;
          }
        }
      }
    }
  }

  .apply {
    background: $gray-100;
    padding: 5rem 0;

    h2 {
      color: $gray-800;
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 0.2rem;
      margin-bottom: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      @include media-breakpoint-down(sm) {
        font-size: 2.5rem;
      }
    }

    form {
      margin: 0 auto;
      max-width: 800px;

      h3 {
        color: $gray-800;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
      }

      button {
        color: white;
      }

      // Sliders
      &.apply-1 {
        text-align: center;

        .slider-labels {
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          max-width: 800px;
          p {
            display: inline-block;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }

      // Application
      &.apply-2 {
        h2 {
          text-align: center;
        }

        h3 {
          margin-top: 50px;
          @include media-breakpoint-down(sm) {
            text-align: center;
          }
        }

        ul {
          display: flex;
          justify-content: space-around;
          margin-bottom: 50px;
          padding: 0;
          @include media-breakpoint-down(sm) {
            display: block;
          }
          li {
            display: inline-block;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            @include media-breakpoint-down(sm) {
              display: block;
              text-align: center;
            }
          }
        }

        .form-group {
          &.input-textarea {
            label,
            .form-control {
              width: 100%;
            }
          }

          label {
            letter-spacing: 0.1rem;
            line-height: 1.4rem;
            margin-bottom: 0;
            width: 20%;
            @include media-breakpoint-down(sm) {
              width: 100%;
            }
          }

          .form-control,
          input[type='file'] {
            display: inline-block;
            width: 80%;
            @include media-breakpoint-down(sm) {
              width: 100%;
            }
          }
        }
        .error {
          font-weight: bold;
          color: #d9534f;
        }
      }

      .submit-btn-container {
        text-align: center;
      }
    }
  }

  .doc-link {
    margin-left: 5px;
    margin-right: 5px;
  }

  button.apply-btn {
    background-color: #0095aa;
    border: 0.75px solid #ffffff;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.5);
  }

  hr {
    width: 100%;
    margin: 0;
    border: 1.5px solid rgba(23, 23, 25, 0.1);
  }
}
