// footer
.footer {
  background: $gray-800;
  color: $white;
  padding: 5rem 0 2rem;

  @include media-breakpoint-down(sm) {
    padding: 2rem 0;
    text-align: center;
  }

  h2 {
    color: $white;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    @include media-breakpoint-down(md) {
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }
  }

  p {
    color: $white;
    font-size: 16px;
    margin-bottom: 1.5rem;
    max-width: 300px;

    @include media-breakpoint-down(sm) {
      max-width: none;
    }

    &.copyright {
      color: #ffffff;
      font-family: Muli;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
      margin-top: 5rem;
      @include media-breakpoint-down(md) {
        margin-top: 2rem;
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }

    &.follow {
      color: #ffffff;
      font-family: Muli;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 5rem;
      text-align: right;
      max-width: 100%;

      a {
        font-size: 19px;
        margin-left: 10px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 2rem;
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }
  }

  h3 {
    font-size: 20px;
  }

  a {
    color: $white;
    font-size: 0.85rem;
    font-weight: 700;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }

  &--column {
    margin-bottom: 1.5rem;

    &:nth-child(1) {
      padding-right: 5vw;
      @include media-breakpoint-down(sm) {
        padding-right: 15px;
      }
    }

    &:nth-child(2) {
      padding: 0 5vw;
      @include media-breakpoint-down(sm) {
        padding: 0 15px;
      }
    }

    &:nth-child(3) {
      padding-left: 5vw;
      @include media-breakpoint-down(sm) {
        padding-left: 15px;
      }
    }
  }

  &--social-links {
    padding: 0;
    list-style-type: none;

    a {
      align-items: center;
      cursor: pointer;
      display: flex;
      margin-bottom: 0.75rem;
      .svg-inline--fa {
        color: $orange;
        font-size: 1.5rem;
        margin-right: 10px;
        transition: color 0.1s ease-in;
      }

      &:hover,
      &:focus,
      &:active {
        color: $white;
        .svg-inline--fa {
          color: darken($orange, 10%) !important;
        }
      }
    }
  }

  &--btn {
    margin-top: 2rem;

    @include media-breakpoint-down(md) {
      font-size: 0.7rem;
      padding: 0.375rem 1.5rem;
    }
  }

  a {
    &.button-link {
      display: block;
      margin-bottom: 15px;
      text-transform: uppercase;
      padding: 4px;
      background: transparent;
      text-align: center;
      max-width: 200px;
      text-decoration: none;
      border: 0.75px solid #ffffff;
      border-radius: 16px;
      box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.5);
      height: 34px;
      position: absolute;
      bottom: 20px;
      width: 100%;

      @include media-breakpoint-down(sm) {
        max-width: none;
        position: initial;
        width: initial;
      }

      &:hover {
        text-decoration: none;
        background: white;
        color: black;
      }
    }
  }
}
