// footer
.footer {
  background: $gray-800;
  color: $white;
  padding: 5rem 0 2rem;
  @include media-breakpoint-down(sm) {
    padding: 2rem 0;
  }

  h2 {
    color: $orange-light;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    @include media-breakpoint-down(md) {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  p {
    color: $white;
    font-size: 0.85rem;
    margin-bottom: 0;
    max-width: 300px;

    &.copyright {
      font-size: 0.65rem;
      margin-top: 5rem;
      @include media-breakpoint-down(md) {
        margin-top: 2rem;
      }
    }
  }

  a {
    color: $white;
    font-size: 0.85rem;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      text-decoration: underline !important;
    }
  }

  &--column {
    margin-bottom: 1.5rem;

    &:nth-child(1) {
      border-right: 1px solid rgba($white, 0.33);
      padding-right: 5vw;
      @include media-breakpoint-down(sm) {
        padding-right: 15px;
      }
    }

    &:nth-child(2) {
      border-right: 1px solid rgba($white, 0.33);
      padding: 0 5vw;
      @include media-breakpoint-down(sm) {
        padding: 0 15px;
      }
    }

    &:nth-child(3) {
      padding-left: 5vw;
      @include media-breakpoint-down(sm) {
        padding-left: 15px;
      }
    }
  }

  &--social-links {
    padding: 0;
    list-style-type: none;

    a {
      align-items: center;
      cursor: pointer;
      display: flex;
      margin-bottom: 0.75rem;
      .svg-inline--fa {
        color: $orange;
        font-size: 1.5rem;
        margin-right: 10px;
        transition: color 0.1s ease-in;
      }

      &:hover,
      &:focus,
      &:active {
        color: $white;
        text-decoration: underline !important;
        .svg-inline--fa {
          color: darken($orange, 10%) !important;
        }
      }
    }
  }

  &--btn {
    margin-top: 2rem;

    @include media-breakpoint-down(md) {
      font-size: 0.7rem;
      padding: 0.375rem 1.5rem;
    }
  }
}
