.toolbox {
  
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;

  .header {
    padding-top: 150px;

    // @include media-breakpoint-down(sm) {
    //   text-align: center;
    // }

    .row {
      height: auto;
      padding-bottom: 2rem;
    }
    
    h1 {
      color: $orange;
      font-size: 48px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.6px;
    }
  
    p {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.88;
      letter-spacing: normal;
    }
  
    button {
      font-size: 9px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.22;
      letter-spacing: 0.5px;
    }
  }

  .content {

    margin-top: 3rem;

    .container {
      max-width: 960px;
    }

    h3 {
      color: $orange-dark;
      font-size: 42px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.19;
      letter-spacing: normal;
    }
    
    p {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.78;
      letter-spacing: normal;
    }

    .nav {
      background: white;
      color: $orange;
      border: 2px solid $orange;
      border-radius: 8px;
      height: 40px;
      width: 570px; 

      a {
        border-radius: 0;
        height: 36px;
        padding: 0;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  .carousel {
    background: url('https://via.placeholder.com/300') center no-repeat;
  }


  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e88212' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e88212' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .carousel-item {
    height: 300px;

    .text-container {
      display: flex;
      flex-direction: column;
      height: inherit;
      justify-content: flex-end;
    }
  }

  .line-break {
    border-bottom: 1px solid $gray-800;
  }
}
