.about {
  font-family: 'Muli', sans-serif;

  .hero {
    background: url('/assets/svg/about-graphic-header.svg') right top no-repeat;
    
    @include media-breakpoint-down(md) {
      background-position: right bottom;
    }

    .row {
      height: 700px;

      @include media-breakpoint-down(md) {
        height: 780px;
      }

      .text-container {
        @include media-breakpoint-down(md) {
          margin-bottom: 10rem;
        }
      }
    }
  }

  .team-photo {
    background-image: url('/assets/about-photo-team.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 540px;

    @include media-breakpoint-down(xs) {
      background-image: none;
      min-height: 100px;
    }

    app-img {
      position: absolute;
      top: 480px;
      transform: translate(-50%, -50%);
      width: 100%;

      @include media-breakpoint-down(xs) {
        align-content: center;
        display: flex;
        position: relative;
        top: 0;
        transform: none;
      }
    }
  }

  .values, .members {
    padding: 5rem 0;

    .header {
      margin: 0 auto 3rem;
      max-width: 768px;
    }
  }

  .value-text {
    font-size: 24px;
  }
}
