.about {
  font-family: 'Muli', sans-serif;

  .hero {

    background: url('/assets/svg/about-graphic-header.svg') right top no-repeat;

    @include media-breakpoint-down(sm) {
      background-position: right bottom;
    }

    .row {
      height: 700px;
    }
  }

  .team-photo {
    background-image: url('/assets/about-photo-team.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
  
    .row {
      height: 660px;
    }

    p {
      color: white;
    }
  }

  .values, .members {
    padding: 5rem 0;

    .header {
      margin: 0 auto 3rem;
      max-width: 768px;
    }
  }

  .value-text {
    font-size: 24px;
  }
}
