.about {
  // hero
  .hero {
    background-image: url('/assets/bg-hero-team.jpg');
    background-position: top center;
    background-size: cover;
    height: 100vh;

    .container,
    .row {
      height: 100%;
    }

    .row {
      padding-top: 56px;
    }

    h2 {
      color: $white;
      font-size: 4rem;
      margin-bottom: 1rem;
      @include media-breakpoint-down(lg) {
        font-size: 2.5rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2rem;
      }
    }

    p {
      color: $white;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 3rem;
      max-width: 500px;
      @include media-breakpoint-down(sm) {
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  // section - about
  .about {
    padding: 5rem 0;

    &--header {
      margin: 0 auto 3rem;
      max-width: 768px;
      text-align: center;
      @include media-breakpoint-down(sm) {
        text-align: left;
      }
    }
  }
}
