.search-results {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;

  .header {
    position: fixed;
    height: 75px;
    padding: 0 16px;
    background-color: #ffffff;
    margin: 0;
    z-index: 1;
    width: 100%;
  }

  .result {
    margin: 0 100px 50px 100px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 25px;

    @include media-breakpoint-down(sm) {
      margin: 0 10px 50px 10px;
    }

    h1 {
      color: #ff5d00;
      font-family: Muli;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.7px;
      line-height: 19px;
      text-align: left;
      margin-bottom: 25px;
    }

    p {
      color: #292a2d;
      font-family: Muli;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      text-align: left;
    }

    .categories {
      display: table;
      border-spacing: 25px 0;
      margin-left: -25px;

      div {
        background-color: #ff5d00;
        border-radius: 20px;
        width: 128px;
        height: 53px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        font-family: Muli;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
      }
    }
  }

  .divider {
    margin: 150px 0 0 0;

    @include media-breakpoint-down(sm) {
      margin: 120px 0 0 0;
    }
  }

  .bkg {
    background-color: rgba(41, 42, 45, 0.7);
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .blog-search-group {
    display: flex;
  }

  .blog-search-icon {
    font-size: 37px;
    margin-left: 50px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  #blog-search {
    color: #375659;
    font-family: Muli;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 1.45px;
    line-height: 35px;
    border: 0;
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
  }

  #blog-search:focus {
    outline: none;
  }

  .blog-close-icon {
    font-size: 37px;
    margin-right: 50px;
    margin-left: auto;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  .load-more {
    background-color: #e88212;
    border: 0.75px solid #ffffff;
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.5);
    width: 125px;
    height: 32px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.25px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 50px auto;
    border-radius: 16px;
    cursor: pointer;
  }
}
