.blog-featured {
  .post {
    align-items: center !important;
  }

  .container {
    min-width: 90%;
    margin-bottom: 2rem;
  }

  .featured-title {
    h2 {
      color: $gray-dark;
      margin-bottom: 2rem;
    }
  }

  .featured-post-title {
    h2 {
      color: $gray-dark;
      font-family: Muli;
      font-size: 42px;
      font-weight: 600;
      letter-spacing: 2.1px;
      line-height: 50px;
      text-align: left;
    }
  }

  .featured-image {
    justify-content: center;
    text-align: center;

    img {
      padding: 30px 0;
      border-radius: 15px;
      object-fit: cover;
    }
  }

  .summary {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  p {
    margin: 25px 0;
    font-size: 12px;
  }

  .author {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: Muli;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 19px;
    text-align: left;

    .profile-image {
      height: 54px;
      width: 54px;
      object-fit: cover;
      margin-right: 15px;
      border-radius: 50%;
    }
  }

  .read-more {
    font-size: 18px;
    text-decoration: underline;
  }

  hr {
    border-color: #979797;
  }
}
