.home {
  .hero {
    height: 100vh;

    @include media-breakpoint-down(xs) {
      background-image: url('/assets/bg-hero-team.jpg');
      background-position: top center;
      background-size: cover;
    }

    video {
      position: absolute;
      height: 100vh;
      width: 100%;
      background-color: black;

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .hero-content {
      margin: auto;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .container,
    .row {
      height: 100%;
    }

    h2 {
      color: $white;
      font-size: 4rem;
      margin-bottom: 1rem;
      @include media-breakpoint-down(lg) {
        font-size: 3rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2.2rem;
      }
    }

    p {
      text-align: center;
      color: $white;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 3rem;
      max-width: 500px;
      @include media-breakpoint-down(lg) {
        font-size: 1rem;
      }
    }
  }

  section {
    padding: 6rem 0;
    @include media-breakpoint-down(sm) {
      padding: 5rem 0;
      text-align: center;
    }

    &.learn-about {
      padding: 0;
    }

    &.bg-gray {
      background: $gray-100;
    }

    &.bg-black {
      background: $black;
    }

    &.bg-white {
      background: none;
    }

    h2 {
      margin-bottom: 3rem;
      text-align: center;
      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
    }

    .header-text {
      font-size: 4rem;
      text-align: center;
      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
    }
  }

  // section - services
  .services {
    margin: 0 auto;
    max-width: 992px;

    &--header {
      padding: 15px;
      p {
        margin-bottom: none;
        text-align: center;
      }
    }

    .card-container {
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      // grid-column-gap: 30px;
      justify-content: space-between;
      display: flex;

      @include media-breakpoint-down(xs) {
        padding-left: none;
        flex-wrap: wrap;
        justify-content: center;
      }

      .card-service {
        h1 {
          text-align: center;
          font-size: 24px;
          text-decoration: underline;
          color: $orange;
        }
      }
      .card {
        box-shadow: 0 5px 15px 0 rgba(158, 158, 158, 1);
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: initial;
        background-color: transparent;
        background-clip: initial;
        border: none;
        border-radius: 0;
        &--text {
          display: flex;
          align-items: center;
          justify-content: center;
          overflow-x: overlay;
          max-height: 100%;
          position: absolute;
          top: 0;
          text-align: center;
          width: 100%;
          height: 100%;
          padding: 10px;
          h3 {
            color: white;
            text-decoration: underline;
          }
          p {
            color: white;
            margin-bottom: 0;
            line-height: 1.5rem;
          }
        }

        @include media-breakpoint-down(xs) {
          margin: 10px;
        }
      }

      .card + .card {
        margin-left: 5%;

        @include media-breakpoint-down(xs) {
          margin: 10px;
        }
      }
    }
  }

  // section - our work
  .our-work {
    &--header {
      text-align: center;
    }

    .content {
      display: flex;
      justify-content: center;

      h3 {
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        justify-content: center;
      }

      .work {
        text-align: center;
        flex-direction: column;
        margin: 50px;

        .icons app-img {
          display: inline-block;
          width: 50%;
        }
      }
    }
  }

  // section - process
  .process {
    h2 {
      margin-bottom: 0;
    }
  }

  // section - partners
  .partners {
    text-align: center;

    p {
      margin: 0 auto 3rem;
      max-width: 800px;
    }

    &--trusted {
      margin: 0 auto;
      max-width: 45%;
    }

    &--logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto 2rem;
      max-width: 1000px;

      app-img {
        flex-shrink: 4;
        height: 100%;
        max-width: 25%;
        min-height: 0;
        padding: 5px;
        width: 100%;
        @include media-breakpoint-down(sm) {
          max-width: 50%;
          padding: 20px 5px;
        }
        @include media-breakpoint-down(xs) {
          max-width: 100%;
          padding: 20px;
        }
      }
    }
  }

  // Hover effect on cards
  .hvrbox,
  .hvrbox * {
    box-sizing: border-box;
  }
  .hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  .hvrbox img {
    max-width: 100%;
  }
  .hvrbox .hvrbox-layer-bottom {
    display: block;
  }
  .hvrbox .hvrbox-layer-top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(232, 130, 18, 0.8);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .hvrbox:hover .hvrbox-layer-top,
  .hvrbox.active .hvrbox-layer-top {
    opacity: 1;
  }
  .hvrbox .hvrbox-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .hvrbox .hvrbox-text-mobile {
    font-size: 15px;
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
  }
  .hvrbox.active .hvrbox-text-mobile {
    display: block;
  }
  .hvrbox,
  .hvrbox * {
    box-sizing: border-box;
  }
  .hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  .hvrbox img {
    max-width: 100%;
  }
  .hvrbox .hvrbox-layer-bottom {
    display: block;
  }
  .hvrbox .hvrbox-layer-top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(232, 130, 18, 0.8);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .hvrbox:hover .hvrbox-layer-top,
  .hvrbox.active .hvrbox-layer-top {
    opacity: 1;
  }
  .hvrbox .hvrbox-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .hvrbox .hvrbox-text-mobile {
    font-size: 15px;
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
  }
  .hvrbox.active .hvrbox-text-mobile {
    display: block;
  }
}
