.home {
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;

  .hero {
    background-color: white;
    background: url('/assets/svg/home-graphic-header-background.svg') center top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;

    @include media-breakpoint-down(sm) {
      background: url('/assets/svg/home-graphic-header-mobile.svg') top
          no-repeat,
        url('/assets/svg/home-graphic-header-background-mobile.svg') center top
          no-repeat;
      background-size: 600px 720px, cover;
      margin-top: 75px;

      .svg-header-desktop {
        display: none;
      }
    }

    img {
      width: 100%;
    }

    object {
      width: 100%;
    }

    h1 {
      color: $gray-dark;
      font-size: 48px;
      font-weight: 600;
      margin-top: 130px;
      text-align: center;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        font-size: 42px;
        margin-top: 180px;
        text-transform: none;
        text-align: left;
      }
    }

    h2 {
      color: $orange-dark;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        font-size: 25px;
        text-transform: none;
        text-align: left;
      }
    }

    .hero-content {
      @include media-breakpoint-down(sm) {
        margin-bottom: 14rem;
      }

      @include media-breakpoint-down(xs) {
        margin-bottom: 5rem;
      }
    }

    .subtext {
      color: $gray-dark;
      font-size: 16px;
      text-align: center;

      @include media-breakpoint-down(sm) {
        text-align: left;
      }
    }

    .subtext-mobile {
      display: none;

      @include media-breakpoint-down(sm) {
        color: #6b635f;
        display: block;
        font-size: 16px;
        padding-right: 12rem;
        text-align: left;
      }
    }
  }

  .process {
    background-color: white;
    height: 583px;
    @include media-breakpoint-down(sm) {
      height: 775px;
    }

    .header > h2 {
      font-size: 48px;
      font-weight: 600;
      @include media-breakpoint-down(sm) {
        margin: 5rem 0;
      }
    }

    .carousel-main-indicators {
      display: block;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .carousel-mobile-indicators {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    .carousel-indicators {
      bottom: 0;
      @include media-breakpoint-down(sm) {
        position: initial;
      }
    }

    .carousel-indicators li {
      border-radius: 100%;
      background-color: #d8d8d8;
      height: 10px;
      margin: 0.5rem;
      width: 10px;
    }

    .carousel-indicators .active {
      background-color: $orange;
    }

    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }

    .carousel-item {
      .row {
        height: 500px;
        margin: 0;
        @include media-breakpoint-down(sm) {
          height: auto;
        }
      }
    }

    .carousel-image {
      img {
        height: 448px;
        @include media-breakpoint-down(sm) {
          height: 200px;
        }
      }
    }

    .carousel-image-h {
      height: auto;
    }

    .carousel-image-userfeedback {
      img {
        height: 306px;
        @include media-breakpoint-down(sm) {
          height: 200px;
        }
      }
    }

    .carousel-panel {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .carousel-text {
      max-width: 425px;

      h2 {
        color: $orange-dark;
        font-size: 42px;
        font-weight: bold;
        @include media-breakpoint-down(sm) {
          text-align: center;
        }
      }

      p {
        color: $gray-dark;
        font-size: 18px;
        line-height: 1.78;
        text-align: left;
        @include media-breakpoint-down(sm) {
          text-align: center;
        }
      }
    }
  }

  .work {
    height: auto;

    .main-content {
      background-color: $gray-100;
      display: flex;

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    .sidebar {
      width: 50%;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .content {
      width: 50%;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      .content-panel {
        align-items: flex-end;
        display: flex;
        height: auto;
        justify-content: center;
        text-align: center;

        @include media-breakpoint-down(sm) {
          display: table;
        }
      }

      .last-panel {
        height: 0;
      }
    }

    .content-panel-inner {
      align-items: center;
      background-color: $gray-100;
      display: flex;
      height: calc(100vh - 75.45px);
      justify-content: center;

      .panel-inner-text {
        margin: 0 4rem;
        text-align: left;

        @include media-breakpoint-down(sm) {
          margin: 0 1rem;
          text-align: center;
        }

        h2 {
          color: $orange-dark;
          font-size: 42px;
          font-weight: bold;
          line-height: 1.19;
        }

        p {
          color: $gray-dark;
          font-size: 18px;
          line-height: 1.78;
        }
      }
    }

    .content-panel-image {
      h2 {
        color: white;
        font-size: 40px;
        font-weight: bold;
        padding: 16px;
        text-align: center;
        margin-top: 2rem;
      }

      .store-buttons {
        padding: 0 0 60px 0;
        @include media-breakpoint-down(sm) {
          padding: 0 0 40px 0;
        }
      }

      .phone-image {
        img {
          height: 440px;
          @include media-breakpoint-down(sm) {
            height: auto;
          }
        }
      }
    }

    .description {
      display: none;

      @include media-breakpoint-down(sm) {
        display: flex;
      }
    }

    .loudcloud {
      background-image: url('/assets/shared-graphic-loudcloud-pattern.png');
    }

    .voyage {
      background-image: url('/assets/shared-graphic-voyage-pattern.png');
    }

    .juntoscope {
      background-image: url('/assets/shared-graphic-juntoscope-pattern.png');
    }
  }
}
