// approach
#approach {
  padding: 7rem 0;
  @include media-breakpoint-down(sm) {
    padding: 3rem 0;
    text-align: center;
  }

  h2 {
    margin: 0 auto 5rem;
    max-width: 700px;
    text-align: center;
    @include media-breakpoint-down(sm) {
      margin: 0 auto 3rem;
    }
  }

  i {
    font-size: 2rem;
  }

  .content:nth-child(1) {
    i,
    h3 span {
      color: $orange;
    }
  }
  .content:nth-child(2) {
    i,
    h3 span {
      color: $blue;
    }
  }
  .content:nth-child(3) {
    i,
    h3 span {
      color: $yellow;
    }
  }
}

// sections
#process,
#development {
  background: $gray-100;

  .container {
    padding-top: 7rem;
    padding-bottom: 10rem;
    @include media-breakpoint-down(sm) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}
