@import '../../styles/main';
nav {
  background: rgba($black, 0.75);
  margin: 0 auto;
  transition: background 0.3s ease-in;
  @include media-breakpoint-down(md) {
    background: $black;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  }

  // &.background {
  //   background: $black;
  //   box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  // }
}

.navbar-brand {
  padding: 0;
  @include media-breakpoint-down(xs) {
    width: 65%;
  }

  h1 {
    // logo img
    font-size: inherit;
    line-height: 1;
    margin: 0;
    max-width: 200px;
  }
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    text-align: right;
    margin-right: 5px;
  }
}
