@import '../../styles/main';

nav {
  margin: 0 auto;
  transition: background 0.3s ease-in;
  &.background {
    background: $black;
  }
}

.navbar-brand {
  @include media-breakpoint-down(xs) {
    width: 70%;
  }

  h1 {
    font-size: inherit;
    margin: 0;
    max-width: 375px;
  }
}
