@import '../../styles/main';

nav {
  margin: 0 auto;
  transition: background 0.3s ease-in;
  &.background {
    background: $black;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  }
}

.navbar-brand {
  @include media-breakpoint-down(xs) {
    width: 70%;
  }

  h1 {
    font-size: inherit;
    margin: 0;
    max-width: 375px;
  }
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    text-align: right;
    margin-right: 5px;
  }
}
