nav {
  background: rgba(23, 23, 25, 1);
}

nav.navbar .navbar-nav .nav-item {
  text-align: right;

  &.dropdown {
    cursor: pointer;

    .dropdown-menu {
      border: none;
      background: rgba(23, 23, 25, 1);
      top: 54px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .dropdown-item {
      color: rgba(244, 245, 249, 1);
      text-align: right;

      &:hover {
        background: rgba(23, 23, 25, 1);
      }

      &.active {
        background: transparent;
        color: $orange;
      }
    }
  }
  a {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
