.skip-navigation {
  position: absolute;
  left: -300px;
  top: 90px;
  padding: 8px;
  color: #e88212 !important;
  text-decoration: underline !important;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;

  &:focus {
    left: 16px;
    color: $orange !important;
    -webkit-transition: top 0.1s ease-in;
    transition: top 0.1s ease-in;
  }
}

nav.navbar {
  background: rgba(23, 23, 25, 1);
}

nav.navbar .navbar-nav .nav-item {
  text-align: right;

  &.dropdown {
    cursor: pointer;

    .dropdown-menu {
      border: none;
      background: rgba(23, 23, 25, 0.75);
      top: 54px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .dropdown-item {
      color: rgba(244, 245, 249, 0.75);
      text-align: right;

      &:hover {
        background: rgba(23, 23, 25, 0.75);
      }

      &.active {
        background: transparent;
        color: $orange;
      }
    }
  }
  a {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &.split {
    .dropdown-menu {
      margin-top: 0;
      @include media-breakpoint-up(md) {
        margin-top: -8px;
      }
    }

    margin-top: 8px;
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }

    stencil-route-link {
      .main {
        display: inline;
        padding-right: 0;
      }
    }

    .dropdown-toggle {
      display: inline;
      padding-left: 0;
    }
  }
}
