.row {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include media-breakpoint-down(xs) {
    text-align: center;
  }
}

p {
  margin: 0;
}

img {
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
    max-width: 250px;
    width: 50vw;
  }
}
