.blog-card {
  min-height: 300px;
  margin: 0;

  h3 {
    color: $black;
    font-weight: 600;

    &:hover {
      text-decoration: underline black;
    }

    @include media-breakpoint-down(sm) {
      padding: 15px;
      text-align: center;
    }
  }

  .blog-card-image {
    border-radius: 55px;
    height: 263px;
    object-fit: cover;
    width: 286px;

    img {
      height: 300px;
    }
  }

  .blog-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .blog-card-summary {
      color: #827e7d;
    }

    .blog-card-author {
      align-items: center;
      display: flex;
      flex-direction: row;

      @include media-breakpoint-down(sm) {
        padding: 14px 0 26px;
        text-align: left;
      }

      .profile-image {
        border-radius: 50%;
        height: 75px;
        margin-right: 15px;
        object-fit: cover;
        width: 75px;
      }

      .profile-text {
        color: #827e7d;
      }
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  hr {
    border: 0;
    border-top: 2px solid #f1f3f7;
    margin-top: 48px;
    margin-bottom: 96px;
    width: 100%;
  }
}
