.blog-card {
  min-height: 300px;
  margin: 0;

  h3 {
    color: $black;
    font-weight: 600;
  }

  .blog-card-image {
    min-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;

    img {
      height: 300px;
    }
  }

  .blog-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .blog-card-author {
      display: flex;
      flex-direction: row;
      align-items: center;

      .profile-image {
        height: 75px;
        width: 75px;
        margin-right: 15px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
