// section header
header.header {
  background-color: $black;
  background-position: top center;
  background-size: cover;
  padding: 10rem 1rem;
  position: relative;
  text-align: center;
  @include media-breakpoint-down(sm) {
    padding: 5rem 1rem;
  }
  @include media-breakpoint-down(xs) {
    height: calc(100vh - 120px);
  }

  h2 {
    color: $white;
    font-size: 4rem;
    @include media-breakpoint-down(lg) {
      font-size: 3rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2.2rem;
    }
  }

  p {
    color: $white;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }

  .btn-arrow {
    bottom: -23px;
    left: calc(50% - 23px);
    padding: 0.375rem 1rem;
    position: absolute;
    i,
    span {
      color: $white;
    }
  }
}
