// hero
.hero-home {
  // background-image: url('/assets/bg-hero-town.jpg');
  align-items: flex-end;
  background-position: top center;
  background-size: cover;
  display: flex;
  height: 100vh;
  // @include media-breakpoint-down(md) {
  //   background-image: url('/assets/bg-hero-town-md.jpg');
  //   display: block;
  //   background-size: cover;
  // }
  // @include media-breakpoint-down(sm) {
  //   background-image: url('/assets/bg-hero-town-sm.jpg');
  // }

  h2 {
    color: $white;
    font-size: 3rem;
    margin-bottom: 1rem;
    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
    }
  }

  p {
    color: $white;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    max-width: 500px;
  }

  .container {
    align-items: flex-end;
    display: flex;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .content {
    // background: url('/assets/graphic-home-monitor.png') top center no-repeat;
    background-size: contain;
    height: 630px;
    margin-left: -125px;
    padding: 100px 130px;
    position: relative;
    width: 780px;
    @include media-breakpoint-down(md) {
      background: none;
      height: auto;
      margin-left: 0;
      padding: 125px 0 0;
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      background: none;
      padding: 100px 0 0;
    }
  }
}
